<header class="w-100" role="banner">
  <div class="mw7 center h5 logo">
    <!-- <div class="fl w-100 logo-align">
         <img src="assets/images/site/turtle_wide.png" class="mw-100 turtle-align" alt="night sky over water">
         <img src="assets/images/site/constellation.png" class="mw-100 constellation-align" alt="night sky over water">
         <div class="fl w-80 h5 logo-align">
         <img src="assets/images/site/text.png" class="mw-100 text-align" alt="night sky over water">
         <img src="assets/images/site/stripe.png" class="mw-100 stripe-align" alt="night sky over water">
         </div>
         </div> -->
  </div>
</header>
