<header class="w-100" role="banner">
  <div class="mw9 center vh-25">
    <img src="assets/images/site/wash_top.png" class="mw-100" alt="color wash">
    <div class="fl w-100 h5 logo-align">
      <img src="assets/images/site/turtle.png" class="mw-100 turtle-align h-100" alt="night sky over water">
      <img src="assets/images/site/constellation.png" class="constellation-align" alt="night sky over water">
      <div class="fl w-80 h5 logo-align">
        <img src="assets/images/site/text.png" class="mw-100 text-align" alt="night sky over water">
        <img src="assets/images/site/stripe.png" class="mw-100 stripe-align" alt="night sky over water">
      </div>
    </div>
  </div>
</header>
