<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  
  {%- include head.html -%}

  <body>
    {%- include header.html -%}
    <main class="page-content fade-in relative" aria-label="Content">
      <div class="tc mw5 center relative-l relative-m absolute top--2 right-0 left-0">
      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
          <a class="page-link lh-title f3 ferrum" href="{{ my_page.url | relative_url }}">&bull; {{ my_page.title | escape }} &bull;</a><br>
        {%- endif -%}
      {%- endfor -%}
      </div>
      
        {{ content }}
      
    </main>

    {%- include footer.html -%}

  </body>

</html>
