<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  {%- assign date_format = "%B %-d, %Y" -%}

  {%- include head.html -%}

  <body>
    <header class="w-100" role="banner">
      <div class="cf h4 mw7 top-wash center">
        <div class="fl w-100 h3">
          <a class="w-100 h-100 dib" href="/">
            <img src="/assets/images/site/text.png" class="mw-100 h-100" alt="Constelleum">
          </a>
        </div>
        <div class="fl w-100 ph4">
          {%- unless page.categories contains "characters" %}
            <a class="w-100 dib lh-title f3 avenir" href="/devlog">
              &larr;devlog
            </a>
          {% else %}
            <a class="w-100 dib lh-title f3 avenir" href="/characters">
              &larr;characters
            </a>
          {%- endunless %}
        </div>
      </div>
      
    </header>
    
    <main class="cf page-content relative white mw7 center avenir pa4 sparkle" aria-label="Content">
      <h1 class="page-heading f1">{{ page.title }}</h1>
      <div class="post-meta">{{ page.date | date: date_format }}</div>
      <div class="post-meta">{{ page.author }}</div>
      <br>
      
      {{ content }}
      
    </main>

    {%- include footer.html -%}

  </body>

</html>

